.table-container {
  margin-top: 2rem;
  border-radius: 0.5rem;
  // max-width: 100rem;
  overflow: hidden;
  overflow-x: auto;
  box-shadow: var(--shadow);
  // @media screen and (max-width: 1000px) {
  //   width: 70rem;
  //   margin: 2rem auto;
  // }

  // @media screen and (max-width: 700px) {
  //   width: 40rem;
  // }

  // @media screen and (max-width: 400px) {
  //   width: 20rem;
  // }

  .table {
    // width: 100%;
    width: 100rem;
    // display: block;

    @media screen and (min-width: 1000px) {
      width: 150rem;
    }
    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
    box-shadow: var(--shadow);
    font-size: 1.2rem;
    thead {
      background: var(--theardcolor);
      tr {
        th {
          font-size: 1rem;
          color: #333;
          line-height: 1.4;
          text-transform: uppercase;
          background-color: transparent;
          padding: 1rem;
          width: max-content;
        }
      }
    }

    tbody {
      tr {
        td {
          margin-top: 1rem;
          padding: 1rem 0;

          img {
            width: 5rem;
            height: 7rem;
            object-fit: fill;
          }
          button {
            background: transparent;
            border: none;

            &.delete {
              color: var(--errorcolor);
            }
          }

          a {
            &.view {
              color: var(--primarycolor);
            }
            &.edit {
              color: var(--seconderycolor);
            }
          }
        }
      }
    }
    // @media screen and (max-width: 400px) {
    //   width: 20rem;
    // }
  }
}
