// ShoppingCart.scss
.cart-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  grid-column: 1/-1;
  margin-top: 2rem;
  .cart-items {
    margin-right: 16px;
    flex-basis: 100%;
    // background-color: var(--theardcolor);
    .cart-item {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      padding: 10px;
      gap: 1rem;

      img {
        width: 64px;
        height: 80px;
        object-fit: cover;
        margin-right: 8px;
      }

      .item-details {
        flex-grow: 1;
        display: flex;
        flex-flow: column;
        gap: 0.5rem;
        p {
          font-size: 14px;

          &.price {
            font-weight: bold;
          }
        }

        .book-quantity {
          display: flex;
          align-items: center;

          .quantity-control {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            background-color: var(--primarycolor);
            border-radius: 0.6rem;

            color: white;
            font-weight: bold;
            cursor: pointer;
            user-select: none;

            &:hover {
              background-color: var(--seconderycolor);
            }
          }

          .quantity-value {
            margin: 0 10px;
            font-weight: bold;
          }
        }
      }

      .item-quantity {
        color: #f56565;
        //   color: white;
        cursor: pointer;
        font-size: 1.8rem;
        padding: 4px 8px;
        margin-left: 8px;
        border-radius: 9999px;
      }
    }
  }

  .cart-summary {
    background-color: var(--theardcolor);
    padding: 26px;
    border-radius: 4px;

    .subtotal {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 8px;
      // width: 100%;
    }

    // button {
    //   background-color: #48bb78;
    //   color: white;
    //   padding: 8px 16px;
    //   border-radius: 4px;
    // }
  }
}

@media screen and (max-width: 768px) {
  .cart-container {
    flex-flow: column;
    .cart-items {
      width: 100%;
    }
    .cart-summary {
      width: 100%;
    }
  }
}
