.filter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem;
    gap: 1rem;
    &-group{
        display: flex;
        flex-flow: column;
        
        input{
        
        }
    }
}